<div class="page">
    <div class="tic-tac-toe">
        <div class="box"
        [ngStyle]="
        {backgroundImage:
            box.activated === 'player' ? 'url(../../../assets/O.png)' : '' || 
            box.activated === 'npc' ? 'url(../../../assets/X.png)' : '',
            'backgroundSize.px': 600/customGridSize,
            'width.px':600/customGridSize,
            'height.px':600/customGridSize
        }
        "
        (click)="selectABox(box.x, box.y)"
        *ngFor="let box of customGrid"
        ></div>
    </div>
    <a [routerLink]="['/home']">Back to Home</a>
</div>

<button (click)="NPCPlaysAggressively()">NPC plays</button>